/** @format */

.mid-sec-contact {
	background-image: none;
}

.mid-sec-contact .u-sheet-1 {
	min-height: 517px;
}

.mid-sec-contact .u-text-1 {
	text-transform: uppercase;
	font-size: 3.4375rem;
	font-weight: 700;
	margin: 60px 0 0;
}

.mid-sec-contact .u-layout-wrap-1 {
	margin: 0;
}

.mid-sec-contact .u-layout-cell-1 {
	min-height: 313px;
}

.mid-sec-contact .u-container-layout-1 {
	padding: 6px 20px 0 18px;
}

.mid-sec-contact .u-icon-1 {
	height: 48px;
	width: 48px;
	background-image: none;
	margin: 44px auto 0;
}

.mid-sec-contact .u-text-2 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 25px 0 0 22px;
}

.mid-sec-contact .u-text-3 {
	margin: 66px 11px 0;
}

.mid-sec-contact .u-layout-cell-2 {
	min-height: 313px;
}

.mid-sec-contact .u-container-layout-2 {
	padding: 0 21px 0 18px;
}

.mid-sec-contact .u-icon-2 {
	height: 48px;
	width: 48px;
	background-image: none;
	margin: 50px 136px 0 auto;
}

.mid-sec-contact .u-text-4 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 25px 0 0 21px;
}

.mid-sec-contact .u-text-5 {
	margin: 66px 9px 0 12px;
}

.mid-sec-contact .u-layout-cell-3 {
	min-height: 313px;
}

.mid-sec-contact .u-container-layout-3 {
	padding: 6px 0 0 18px;
}

.mid-sec-contact .u-icon-3 {
	height: 48px;
	width: 48px;
	background-image: none;
	margin: 44px 162px 0 auto;
}

.mid-sec-contact .u-text-6 {
	font-weight: 700;
	margin: 25px 22px 0 12px;
}

.mid-sec-contact .u-text-7 {
	margin: 66px 0 0 34px;
}

.mid-sec-contact .u-social-icons-1 {
	white-space: nowrap;
	height: 66px;
	min-height: 16px;
	width: 66px;
	min-width: 16px;
	margin: 0 851px 0 223px;
}

.mid-sec-contact .u-icon-4 {
	height: 100%;
}

.mid-sec-contact .u-social-icons-2 {
	white-space: nowrap;
	height: 66px;
	min-height: 16px;
	width: 66px;
	min-width: 16px;
	margin: -66px auto 0 380px;
}

.mid-sec-contact .u-icon-5 {
	height: 100%;
}

.mid-sec-contact .u-social-icons-3 {
	white-space: nowrap;
	height: 66px;
	min-height: 16px;
	width: 66px;
	min-width: 16px;
	margin: -66px auto 0 537px;
}

.mid-sec-contact .u-icon-6 {
	height: 100%;
}

.mid-sec-contact .u-social-icons-4 {
	white-space: nowrap;
	height: 66px;
	min-height: 16px;
	width: 66px;
	min-width: 16px;
	margin: -66px auto 0 694px;
}

.mid-sec-contact .u-icon-7 {
	height: 100%;
}

.mid-sec-contact .u-social-icons-5 {
	white-space: nowrap;
	height: 66px;
	min-height: 16px;
	width: 66px;
	min-width: 16px;
	margin: -66px auto 60px 851px;
}

.mid-sec-contact .u-icon-8 {
	height: 100%;
}
