/** @format */

/* .mid-sec-home {
	min-height: 543px;
}

.mid-sec-home .u-layout-wrap-1 {
	margin-top: 0;
	margin-bottom: 0;
}

.mid-sec-home .u-image-1 {
	min-height: 543px;
	background-image: url('../images/index_page.jpg');
}

.mid-sec-home .u-container-layout-1 {
	padding: 30px 30px 30px 25px;
}

.mid-sec-home .u-text-1 {
	font-weight: 700;
	margin: 67px 856px 0 61px;
}

@media (max-width: 1199px) {
	.mid-sec-home {
		min-height: 448px;
	}

	.mid-sec-home .u-layout-wrap-1 {
		position: relative;
	}

	.mid-sec-home .u-image-1 {
		background-position: 50% 50%;
		min-height: 448px;
	}

	.mid-sec-home .u-text-1 {
		margin-right: 716px;
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.mid-sec-home {
		min-height: 343px;
	}

	.mid-sec-home .u-image-1 {
		min-height: 343px;
	}

	.mid-sec-home .u-text-1 {
		margin-right: 496px;
	}
}

@media (max-width: 767px) {
	.mid-sec-home {
		min-height: 257px;
	}

	.mid-sec-home .u-image-1 {
		min-height: 257px;
	}

	.mid-sec-home .u-container-layout-1 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.mid-sec-home .u-text-1 {
		margin-right: 351px;
	}
}

@media (max-width: 575px) {
	.mid-sec-home {
		min-height: 162px;
	}

	.mid-sec-home .u-image-1 {
		min-height: 162px;
	}

	.mid-sec-home .u-text-1 {
		margin-right: 151px;
	}
} */
