/** @format */

/*---------------------------About---------------------------*/
/** @format */

.mid-sec-about {
	background-image: none;
}

.mid-sec-about .u-sheet-1 {
	min-height: 557px;
}

.mid-sec-about .u-layout-wrap-1 {
	margin: 60px auto 60px 0;
}

.mid-sec-about .u-layout-cell-1 {
	min-height: 598px;
}

.mid-sec-about .u-container-layout-1 {
	padding: 30px;
}

.mid-sec-about .u-text-1 {
	line-height: 1;
	font-size: 3.75rem;
	font-weight: 700;
	margin: 30px 0 0;
}

.mid-sec-about .u-text-2 {
	font-size: 1.25rem;
	line-height: 2;
	margin: 80px 0 0;
}

.mid-sec-about .u-layout-cell-2 {
	min-height: 400px;
}

.mid-sec-about .u-container-layout-2 {
	padding: 30px;
}

.mid-sec-about .u-image-1 {
	width: 378px;
	height: 378px;
	background-image: url('../images/about.jpeg');
	background-position: 50% 50%;
	margin: 0 auto;
}

/*---------------------------Home/index---------------------------*/
/** @format */

.mid-sec-home {
	min-height: 543px;
}

.mid-sec-home > .u-layout-wrap-1 {
	margin-top: 0;
	margin-bottom: 0;
}

.mid-sec-home > .u-container-layout-1 {
	padding: 30px 30px 30px 25px;
}

.mid-sec-home > .u-text-1 {
	font-weight: 700;
	margin: 67px 856px 0 61px;
}
.mid-sec-home .u-image-1 {
	min-height: 543px;
	background-image: url('../images/index_page.jpg');
}
/*---------------------------Services---------------------------*/

/*---------------------------Portfolio---------------------------*/

.mid-sec-portfolio .portfolio-image-1 {
	background-image: url('../images/portfolio/newyork.png');
	background-position: 50% 50%;
}
.mid-sec-portfolio .portfolio-image-2 {
	background-image: url('../images/portfolio/perth.png');
	background-position: 50% 50%;
}
.mid-sec-portfolio .portfolio-image-3 {
	background-image: url('../images/portfolio/melbourne.png');
	background-position: 50% 50%;
}

/*---------------------------Photos---------------------------*/

/*---------------------------Paint---------------------------*/

/*---------------------------Merch---------------------------*/

/*---------------------------Contact---------------------------*/
