/** @format */

/*---------------------------Services---------------------------*/
.mid-sec-services {
	background-image: none;
	min-height: 726px;
}

.mid-sec-services .u-text-1 {
	font-weight: 700;
	font-size: 3.4375rem;
	width: 337px;
	margin: 38px auto 0;
}

.mid-sec-services .u-text-2 {
	/* text two represents the page title */
	font-size: 1.25rem;
	width: 670px;
	margin: 11px auto 0;
}

.mid-sec-services .u-repeater-1 {
	grid-auto-columns: calc(33.3333% - 6.66667px);
	grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(
			33.3333% - 6.66667px
		);
	grid-gap: 10px 10px;
	min-height: 388px;
}

.mid-sec-services .u-list-1 {
	margin: 77px auto 60px;
}

.mid-sec-services .u-image-1 {
	background-image: url('../images/services/wedding.png');
	background-position: 50% 50%;
}

.mid-sec-services .u-container-layout-1 {
	padding: 0 9px 20px 29px;
}

.mid-sec-services .u-text-3 {
	font-weight: 700;
	background-image: none;
	margin: 69px 0 0 9px;
}

.mid-sec-services .u-image-2 {
	background-image: url('../images/services/birthday.png');
	background-position: 50% 50%;
}

.mid-sec-services .u-container-layout-2 {
	padding: 0 9px 20px 29px;
}

.mid-sec-services .u-text-4 {
	font-weight: 700;
	background-image: none;
	margin: 69px 0 0 9px;
}

.mid-sec-services .u-image-3 {
	background-image: url('../images/services/editing1.png');
	background-position: 50% 50%;
}

.mid-sec-services .u-container-layout-3 {
	padding: 0 9px 20px 29px;
}

.mid-sec-services .u-text-5 {
	font-weight: 700;
	background-image: none;
	margin: 69px 0 0 9px;
}

/** @format */
/*---------------------------Portfolio---------------------------*/
.mid-sec-portfolio {
	background-image: none;
}

.mid-sec-portfolio .u-sheet-1 {
	min-height: 726px;
}

.mid-sec-portfolio .u-text-1 {
	font-weight: 700;
	font-size: 3.4375rem;
	width: 337px;
	margin: 38px auto 0;
}

.mid-sec-portfolio .u-text-2 {
	font-size: 1.25rem;
	width: 670px;
	margin: 11px auto 0;
}

.mid-sec-portfolio .u-list-1 {
	margin: 77px auto 60px;
}

.mid-sec-portfolio .u-repeater-1 {
	/* for alligning the images in center
   */
	grid-auto-columns: calc(33.3333% - 6.66667px);
	grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(
			33.3333% - 6.66667px
		);
	grid-gap: 10px 10px;
	min-height: 388px;
}

.mid-sec-portfolio .u-container-layout-1 {
	padding: 6px 30px 20px 29px;
}

.mid-sec-portfolio .u-text-3 {
	font-weight: 700;
	background-image: none;
	margin: 124px 8px 0 20px;
}

.mid-sec-portfolio .u-container-layout-2 {
	padding: 6px 30px 20px 29px;
}

.mid-sec-portfolio .u-text-4 {
	font-weight: 700;
	background-image: none;
	margin: 124px 8px 0 20px;
}

.mid-sec-portfolio .u-container-layout-3 {
	padding: 6px 30px 20px 29px;
}

.mid-sec-portfolio .u-text-5 {
	font-weight: 700;
	background-image: none;
	margin: 124px 8px 0 20px;
}
